<html lang="tr">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="author" content="Hasan Dogan">
        <meta name="google" content="notranslate" />
        <meta name="twitter:card" content="Kaç Gün Kaldı">
        <meta name="publisher" content="Hasan Dogan" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:site_name" content="Sayaç">
        <meta property="og:image" itemprop="image" content="{{ asset("img/ogimage.PNG") }}">
        <meta property="og:type" content="website" />
        <link rel = "icon" type = "image/png" href = "{{ asset("img/saat.png") }}">
        <link rel="canonical" href="{{ app.request.requesturi }}"/>
        <meta name="robots" content="index,follow">

    {% endblock %}

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset("css/style.css") }}">
            <link rel="stylesheet" href="{{ asset("css/font-awesome.css") }}">
            <link href='{{ asset("css/social.css") }}' rel='stylesheet'/>
        {% endblock %}

        {% block javascripts %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-8D6XSLK8WY"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
            <script src="{{ asset("js/jquery_3.5.1_jquery.js") }}"></script>
            <script src="{{ asset("ganl.js") }}"></script>

        {% endblock %}
    </head>
    <body style="background-color:black;">
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand">
                        <img src="{{ asset("img/saat.png") }}" height="28" alt="CoolBrand">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="/secim" class="nav-item nav-link active">Seçim Sayacı</a>
                            <a href="/new-year" class="nav-item nav-link active">Yıl Başı Sayacı</a>
                            <a href="/school" class="nav-item nav-link active">Okul Sayacı</a>
                            {%  if app.session.get('id') %}
                                <a href="/profile" style="float:right" class="nav-item nav-link active">Profil</a>
                                <a href="/logout" style="float:right" class="nav-item nav-link active">Çıkış</a>
                            {% else %}
                            <a href="/login" style="float:right" class="nav-item nav-link active">Giriş</a>
                                <a href="/register" style="float:right" class="nav-item nav-link active">Kayıt Ol</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
    </body>
</html>
