{% extends "base.html.twig" %}
    {% block head %}
        {{ parent() }}
        <title>{% block title %}{{ data.name }}{% endblock %}</title>
        <title>{{ data.name }}</title>
        <meta property="og:title" content="{{ data.name }}" />
        <meta property="og:description" content="{{ data.name }}" />

    {% endblock %}
        {% block stylesheets %}
            {{ parent() }}

        {% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>

     var countDownDate = new Date(" {{ data.dateTime|date("F d, Y H:i:s") }} ").getTime();
     var x = setInterval(function() {
         var now = new Date().getTime();
         if (countDownDate < now) {
             console.log("girdi");
             var distance = now - countDownDate;
         }else{
             console.log("girdi2");
             var distance = countDownDate - now;
         }
     var newYear = "{{ data.textFirst }} "
     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
     var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
     var seconds = Math.floor((distance % (1000 * 60)) / 1000);
     var kaldi = "{{ data.textLast }}"

     document.getElementById("demo").innerHTML = newYear + days + " gün " + hours + " saat "
     + minutes + " dakika " + seconds + " saniye " + kaldi;

     if (distance < 0) {
     clearInterval(x);
     document.getElementById("demo").innerHTML = "EXPIRED";
     }
     }, 1000);

     </script>
 {% endblock %}

{% block body  %}
    {{ parent() }}

        <div id="shadowBox">
            <p lang="tr" class="rainbow rainbow_text_animated" id="demo"></p>
        </div>
    <section>
        <div class="buttons">
            <div class="button">
                <div class="icon">
                    <a href="https://www.instagram.com/?url=https://scmsayac.xyz/public/{{ data.url }}" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                </div>
                <a href="https://www.instagram.com/?url=https://scmsayac.xyz/public/{{ data.url }}" target="_blank" rel="noopener"><span>Instagram</span></a>
            </div>

            <div class="button">
                <div class="icon">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://scmsayac.xyz/public/{{ data.url }}"><i class="fab fa-facebook-f"></i></a>
                </div>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://scmsayac.xyz/public/{{ data.url }}"><span>Facebook</span></a>
            </div>
            <div class="button">
                <div class="icon">
                    <a href="https://twitter.com/share?url=https://scmsayac.xyz/public/{{ data.url }}&text=Bu Sayacı Görmelisiniz"><i class="fab fa-twitter"></i></a>
                </div>
                <a href="https://twitter.com/share?url=https://scmsayac.xyz/public/{{ data.url }}&text=Bu Sayacı Görmelisiniz"><span>Twitter</span></a>
            </div>
            <div class="button">
                <div class="icon">
                    <a href="whatsapp://send?text=Bu Sayacı Görmelisiniz: https://scmsayac.xyz/public/{{ data.url }}"><i class="fab fa-whatsapp"></i></a>
                </div>
                <a href="whatsapp://send?text=Bu Sayacı Görmelisiniz: https://scmsayac.xyz/public/{{ data.url }}"><span>whatsapp</span></a>
            </div>
        </div>
    </section>






{% endblock %}