{% extends "base.html.twig" %}
    {% block head %}
        <title>{{ data.name }}</title>
        {{ parent() }}
        <link href="{{ asset("scss/socialites.scss") }}" rel="stylesheet" id="bootstrap-css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" id="bootstrap-css">

    {% endblock %}
        {% block stylesheets %}
            {{ parent() }}

        {% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>
     var countDownDate = new Date(" {{ data.dateTime|date("F d, Y h:i:s") }} ").getTime();
     var x = setInterval(function() {

     var now = new Date().getTime();

     var distance = countDownDate - now;
     var newYear = "{{ data.textFirst }} "
     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
     var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
     var seconds = Math.floor((distance % (1000 * 60)) / 1000);
     var kaldi = "{{ data.textLast }}"

     document.getElementById("demo").innerHTML = newYear + days + " gün " + hours + " saat "
     + minutes + " dakika " + seconds + " saniye " + kaldi;

     if (distance < 0) {
     clearInterval(x);
     document.getElementById("demo").innerHTML = "EXPIRED";
     }
     }, 1000);

     </script>
 {% endblock %}

{% block body  %}
    {{ parent() }}

        <div id="shadowBox">
            <p lang="tr" class="rainbow rainbow_text_animated" id="demo"></p>
        </div>

    <div class="flex-center">
        <a href="https://twitter.com/share?url=https://scmsayac.xyz/public/{{ data.url }}&text=Bu Sayacı Görmelisiniz"><i class="fa fa-twitter fa-2x icon-3d"></i></a>
        <i class="fa fa-facebook fa-2x icon-3d"></i>
        <i class="fa fa-instagram fa-2x icon-3d"></i>
        <i class="fa fa-whatsapp fa-2x icon-3d"></i>
    </div>


{% endblock %}