{% extends "base.html.twig" %}
    {% block head %}
        {{ parent() }}
        <title>{% block title %}{{ data.name }}{% endblock %}</title>
        <title>{{ data.name }}</title>
        <meta property="og:title" content="{{ data.name }}" />
        <meta property="og:description" content="{{ data.name }}" />

    {% endblock %}
        {% block stylesheets %}
            {{ parent() }}

        {% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>

     var countDownDate = new Date(" {{ data.dateTime|date("F d, Y H:i:s") }} ").getTime();
     var x = setInterval(function() {
         var now = new Date().getTime();

     var distance = countDownDate - now;
     var newYear = "{{ data.textFirst }} "
     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
     var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
     var seconds = Math.floor((distance % (1000 * 60)) / 1000);
     var kaldi = "{{ data.textLast }}"

     document.getElementById("demo").innerHTML = newYear + days + " gün " + hours + " saat "
     + minutes + " dakika " + seconds + " saniye " + kaldi;

     if (distance < 0) {
     clearInterval(x);
     document.getElementById("demo").innerHTML = "EXPIRED";
     }
     }, 1000);

     </script>
 {% endblock %}

{% block body  %}
    {{ parent() }}

        <div id="shadowBox">
            <p lang="tr" class="rainbow rainbow_text_animated" id="demo"></p>
        </div>

    <div class="flex-center">
        <a href="https://twitter.com/share?url=https://scmsayac.xyz/public/{{ data.url }}&text=Bu Sayacı Görmelisiniz"><i class="fa fa-twitter fa-2x icon-3d"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://scmsayac.xyz/public/{{ data.url }}"><i class="fa fa-facebook fa-2x icon-3d"></i></a>
        <a href="whatsapp://send?text=Bu Sayacı Görmelisiniz: https://scmsayac.xyz/public/{{ data.url }}"><i class="fa fa-whatsapp fa-2x icon-3d"></i></a>
    </div>


{% endblock %}