{% extends "base.html.twig" %}
    {% block head %}
        {{ parent() }}
    {% endblock %}
        {% block stylesheets %}
            {{ parent() }}

        {% endblock %}
 {% block javascripts %}
     {{ parent() }}
 {% endblock %}

{% block body %}
<div id="shadowBox">
<p class="rainbow rainbow_text_animated" id="demo"></p>
</div>
    <h1 style = "color:white; text-align: center;position: absolute;top: 65%; width: 100%;font-size: 200%;">Güncel Döviz Kurları</h1>
    <div  id="shadowBox">
        <p class="rainbow rainbow_text_animated" style = " text-align: center;position: absolute;top: 73%; width: 100%;font-size: 200%;">Dolar: {{ dolar }}</p>
        <p class="rainbow rainbow_text_animated" style = " text-align: center;position: absolute;top: 77%; width: 100%;font-size: 200%;">Euro: {{ euro }}</p>
        <p class="rainbow rainbow_text_animated" style = " text-align: center;position: absolute;top: 81%; width: 100%;font-size: 200%;">Pound: {{ pound }}</p>
    </div>
{% endblock %}